body {
    background-color: #ffcccc;
}

h1 {
    color: #333;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: auto;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: teal;
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
  }
  
  .button:hover {
    background-color: #60bfbf;
  }